/* main layout */

.main {
    display: flex;
}

.leftpanel {
    width: 30%;
    overflow-y: auto;
    height: 100vh;
}

.rightpanel {
    width: 70%;
    overflow-y: auto;
    height: 100vh;
}

/* Window picking thumbnails */

.tile {
    width: 200px;
    position: relative;
    float: left;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tile-contents {
    width: 200px;
    background-color: #c0c0c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    padding: 2px;
    border: solid 1px transparent;
}
.tile-contents:hover {
    background-color: #f0f0f0;
    border: solid 1px #CDF348;
    box-shadow: 0px 0px 5px 1px #CDF348;

}
.tile-image {
    width: auto;
    height: auto;
}
.tile-title {
    width: auto;
    height: auto;
    text-align: center;
    overflow-x: hidden;
    text-wrap: nowrap;
    margin: 0px;
    padding: 5px;
    max-width: 90%;
}
.wrap {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Snippy sidebar */
.bubble {
    position: relative;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    max-width: 100%;
    text-align: center;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.bubble::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #f0f0f0;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}
.snippy-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    padding: 0px 10px 0px 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1)), url(snippy-bg.png);
    background-size: cover;
    background-position: center;
}
        
/* Chat panel and messages */

.chat-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
}

.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-message {
    position: relative;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 20px;
    color: white;
}

.received {
    background-color: #0b93f6;
    align-self: flex-start;
}

.sent {
    background-color: #208b69;
    align-self: flex-end;
    color: white;
}

.message-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #eee;
}

.message-input input {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

#sendButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.chat-message p {
    margin: 4px 0px 4px 0px;
}

pre {
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 0px;
    background: black;
}

code {
    font-weight: bold;
}
.hangup-btn {
    background-color: #ff3b30; /* Red color */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%; /* Round shape */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 100%;
    aspect-ratio: 1;
    margin: 0px 0px 0px 10px;
}

.hangup-btn:hover {
    background-color: #e60000; /* Darker red on hover */
}